<!DOCTYPE html>
<html lang="en">
<head>
    <title>ARG </title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">ARG</a>
        <div class = "text-end">
            <button class="btn btn-outline-light me-2" data-bs-toggle="modal" data-bs-target="#staticBackdropLogin">Prijava</button>
            <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdropRegister">Registracija</button>
        </div>
      </div>
    </nav>

<!--Login Modal -->
<div class="modal fade " id="staticBackdropLogin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Prijava</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
          <form action="/login" method="POST">
              {% csrf_token %}
            <div class="mb-3">
              <label for="{{login_form.username.id_for_label}}" class="form-label">Korisničko ime</label>
              {{login_form.username}}
            </div>
             <div class="mb-3">
              <label for= "{{login_form.password.id_for_label}}" class="form-label">Lozinka</label>
              {{login_form.password}}
            </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>

    </div>
  </div>
</div>

<!--Registration Modal -->
<div class="modal fade " id="staticBackdropRegister" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropRegsiter">Registracija</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
          <form action="/register" method="POST">
              {% csrf_token %}
            <div class="mb-3">
              <label for="{{register_form.username.id_for_label}}" class="form-label">Korisničko ime</label>
              {{register_form.username}}
            </div>
            <div class="mb-3">
              <label for="{{login_form.email.id_for_label}}" class="form-label">Email</label>
              {{register_form.email}}
            </div>

             <div class="mb-3">
              <label for= "{{register_form.password.id_for_label}}" class="form-label">Lozinka</label>
              {{register_form.password}}
            </div>
             <div class="mb-3">
              <label for= "{{register_form.password_confirm.id_for_label}}" class="form-label">Potvrda lozinke</label>
              {{register_form.password_confirm}}
            </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>

    </div>
  </div>
</div>


    <div class="container-fluid" >
        <h2>Dobrodošli na aplikaciju ARG</h2>
        <p>Ukoliko se ne želite zamarati stvoranjem novog korisničkog računa možete koristit jedan od postojećih.</p>
        <p>Podatci za superusera (dio aplikacije dizajnirano za administratora)</p>
        <ul>
            <li>
                Username : admin
            </li>
            <li>
                Password : 12345
            </li>
        </ul>
        <p>Podatci za običnog korisnika (dio aplikacije za "normalno" korištenje)</p>
        <ul>
            <li>
                Username : john
            </li>
            <li>
                Password : doe
            </li>
        </ul>

    </div>

    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>

</body>
</html>