<!DOCTYPE html>
<html lang="en">
<head>
    <title>ARG </title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/arg">Početna stranica</a>
          <div class = "text-end">
            <a class="btn btn-warning" href="/logout">Odjava</a>
          </div>
      </div>
    </nav>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>

</body>
</html>