<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activity create</title>
</head>
<body>
<h2>Create new activity</h2>
<form action="/arg/{{organization}}/{{group}}/{{member}}
/edit/activities/create" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
</body>
</html>