<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Member creation</title>
</head>
<body>
<h2>Create new member</h2>
<form action="/arg/{{organization}}/{{group}}/edit/member/create" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>

</body>
</html>