{% extends "base.html" %}
{% block content %}
<div class="container-fluid" >

        <h2>Members of group {{group.name}}</h2>
        <div class = float-end>
            <a class="btn btn-secondary" href="/arg/{{organization.name_to_url}}">
                Povratak
            </a>
        </div>
    <br>

<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Novi član
</button>
    <br><br>

<!-- Modal -->
<div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Novi član</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
          <form action="/arg/{{organization.name_to_url}}/{{group.name_to_url}}/edit/member/create" method="POST">
              {% csrf_token %}
            <div class="mb-3">
              <label for="{{form.first_name.id_for_label}}" class="form-label">Ime</label>
              {{form.first_name}}
            </div>
             <div class="mb-3">
              <label for= "{{form.last_name.id_for_label}}" class="form-label">Prezime</label>
              {{form.last_name}}
            </div>
              <div class="mb-3">
              <label for= "{{form.description.id_for_label}}" class="form-label">Opis</label>
              {{form.description}}
            </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>

    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Full name</th>
      <th scope="col">Description</th>
      <th scope="col">Date created</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

{% if group_members %}
    <tbody>
    {% for member in group_members %}
    <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>
            <a href="/arg/{{organization.name_to_url}}/{{group.name_to_url}}/{{member.member_to_url}}">
                {{ member.first_name }} {{member.last_name}}
            </a>
            </td>
            <td>{{ member.description }}</td>
            <td>{{ member.date_added }}</td>
            <td>
            <a class="btn btn-outline-danger" onclick="return confirm('Are you sure you want to delete member {{ member.first_name }} {{member.last_name}}?')"
             href="/arg/{{organization.name_to_url}}/{{group.name_to_url}}/edit/member/delete/{{member.id}}">
                Delete
            </a>
            </td>
    </tr>
    {% endfor %}
      </tbody>
    </table>
</div>
{% endif %}
{% endblock %}