{% extends "base.html" %}

{% block content %}
<div class="container-fluid" >
    <h2>Organizations of user {{user.username}}</h2>
    <div>



<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Nova organizacija
</button>
        <br><br>

<!-- Modal -->
<div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Nova organizacija</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
          <form action="/arg/edit/organization/create" method="POST">
              {% csrf_token %}
            <div class="mb-3">
              <label for="{{form.organization_name.id_for_label}}" class="form-label">Naziv organizacije</label>
              {{form.organization_name}}
              <div id="organizationHelp" class="form-text">Only letters and spaces are allowed</div>
            </div>
             <div class="mb-3">
              <label for= "{{form.description.id_for_label}}" class="form-label">Opis</label>
              {{form.description}}
             <div id="descriptionHelp" class="form-text">Only letters and spaces are allowed</div>
            </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>

    </div>
  </div>
</div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
      {% if organizations_list %}
      {% for organization in organizations_list %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>
                <a href="/arg/{{organization.name_to_url}}">{{ organization.name }}
                </a>
            </td>
            <td>{{ organization.description }}</td>
            <td>
                <a class="btn btn-outline-danger" onclick="return confirm('Are you sure you want to delete this organization?')"
            href="/arg/edit/organization/delete/{{organization.id}}">
                    <i class="bi bi-trash"></i>
            Delete
            </a>
            </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
{% else %}
    <p>There are no registered Organizations for you {{ user.username}}.</p>
{% endif %}
{% endblock %}