{% extends "base.html" %}
{% block content %}

<div class="container-fluid" >

{% if member %}
    <h2>{{ member.first_name}} {{ member.last_name}} - {{ member.description}}</h2>
    <div class = float-end>
        <a class="btn btn-secondary"  href="/arg/{{organization.name_to_url}}/{{group.name_to_url}}">
            Povratak
        </a>
    </div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Nova aktivnost
</button>
    <br><br>
<!-- Modal -->
<div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Nova aktivnost</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
          <form action="/arg/{{organization.name_to_url}}/{{group.name_to_url}}/{{member.member_to_url}}
/edit/activities/create" method="POST">
              {% csrf_token %}
             <div class="mb-3">
              <label for= "{{form.date.id_for_label}}" class="form-label">Datum</label>
              {{form.date}}
            </div>
             <div class="mb-3">
              <label for= "{{form.grade.id_for_label}}" class="form-label">Ocjena</label>
              {{form.grade}}
            </div>
            <div class="mb-3">
              <label for="{{form.description.id_for_label}}" class="form-label">Opis aktivnosti</label>
              {{form.description}}
            </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>

    </div>
  </div>
</div>

<h3>Activities </h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Grade</th>
      <th scope="col">Description</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

{% if activities %}
    <tbody>
    {% for activity in activities %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>
            {{activity.date_created}}
        </td>
        <td>
            {{activity.grade}}
        </td>
        <td>
            {{activity.description}}
        </td>
        <td>

            <a onclick="return confirm('Are you sure you want to delete this activity?')"
               class="btn btn-outline-danger"
             href="/arg/{{organization.name_to_url}}/{{group.name_to_url}}/{{member.member_to_url}}/edit/activities/delete/{{activity.id}}">
                Delete
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% else %}
    <p>There are no activities for member {{ member.first_name}} {{ member.last_name}}.</p>
{% endif %}
{% else %}
    <p>This member does not exist!</p>
{% endif %}
</div>
<br><br>
<div class = "container-fluid">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
            <div id="container-pie">
                <div id = "echarts-pie" style="width:600px; height:400px;"></div>
            </div>
        </div>
        <div class="col-6">
            <div id="container-bar">
                <div id = "echarts-bar" style="width:600px; height:400px;"></div>
            </div>
        </div>
      </div>
    </div>
</div>

  <script src="https://cdn.jsdelivr.net/npm/echarts@5.1.1/dist/echarts.min.js"></script>
  <script>
        var myChart = echarts.init(document.getElementById('echarts-pie'));

        // specify chart configuration item and data
        var option = {
    title: {
        text: 'Distribucija ocjena',
        left: 'center'
    },
    tooltip: {
        trigger: 'item'
    },
    legend: {
        orient: 'vertical',
        left: 'left',
    },
    series: [
        {
            name: '',
            type: 'pie',
            radius: '50%',
            data: [
                {value: {{pie_chart_data.1}}, name: '1'},
                {value: {{pie_chart_data.2}}, name: '2'},
                {value: {{pie_chart_data.3}}, name: '3'},
                {value: {{pie_chart_data.4}}, name: '4'},
                {value: {{pie_chart_data.5}}, name: '5'}
            ],
            labelLine: {
                show: false
            },
              label: {
                show: false,
                position: 'center'
            },
            emphasis: {
                itemStyle: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};
        // use configuration item and data specified to show chart
        myChart.setOption(option);

  </script>
<script>
            var myChartz = echarts.init(document.getElementById('echarts-bar'));

        // specify chart configuration item and data
        var optionz = {
            title: {
        text: 'Distribucija ocjena',
        left: 'center'
    },
    tooltip: {
        trigger: 'item'
    },
    legend: {
        orient: 'vertical',
        left: 'left',
    },
    xAxis: {
        type: 'category',
        data: ['1', '2', '3', '4', '5']
    },
    yAxis: {
        type: 'value'
    },
    series: [{
        data: {{bar_chart}},
        type: 'bar'
    }]
};

        // use configuration item and data specified to show chart
        myChartz.setOption(optionz);
</script>
{% endblock %}
