{% extends "base.html" %}
{% block content %}

<div class="container-fluid" >
<h2>Groups of organization {{organization.name}}</h2>
<!-- Button trigger modal -->
    <br>
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Nova grupa
</button>
    <br><br>
<!-- Modal -->
<div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Nova organizacija</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
          <form action="/arg/{{organization.name_to_url}}/edit/group/create" method="POST">
              {% csrf_token %}
            <div class="mb-3">
              <label for="{{form.name.id_for_label}}" class="form-label">Naziv grupe</label>
              {{form.name}}
            </div>
             <div class="mb-3">
              <label for= "{{form.description.id_for_label}}" class="form-label">Opis</label>
              {{form.description}}
            </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>

    </div>
  </div>
</div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Date created</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>

    {% if organization_groups %}
      <tbody>
    {% for group in organization_groups %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>
            <a href="/arg/{{organization.name_to_url}}/{{group.name_to_url}}">{{ group.name }}
            </a>
        </td>
        <td>{{ group.description }}</td>
        <td>{{ group.creation_date }}</td>
        <td>
            <a class="btn btn-outline-danger" onclick="return confirm('Are you sure you want to delete this?')"
             href="/arg/{{organization.name_to_url}}/edit/group/delete/{{group.id}}">
                Delete
            </a>
        </td>
    {% endfor %}
      </tbody>
    </table>
{% else %}
    <p>There are no registered groups for organization  {{ organization.name}}.</p>
{% endif %}
</div>
{% endblock %}