<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group creation</title>
</head>
<body>

<h2>Create new group</h2>
<form action="/arg/{{organization}}/edit/group/create" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>

</body>
</html>