<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new organization</title>
</head>
<body>
<h2>Create new organization</h2>
<form action="/arg/edit/organization/create" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>

</body>
</html>